.image{
    filter: brightness(50%);
}
.content{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.content h1{
    font-weight: 700;
    font-size: 45px;
}
.content p{
    font-weight:400;
    font-size: 18px;
    line-height:28px;
}

.slider_inner{
    height: 100vh;
}
.slider_image{
    filter: brightness(50%);
}



/* course section start */

.card_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}



/* course section end */
/* explore section start */
.course_related{
    display:grid;
    grid-gap: 5px;
    grid-template-columns:1fr 1fr 1fr ;

}
.explore_body{
    background-color: #f4fafd;
    height: 500px;

}
.explore_area{
    height: 500px;
}
/* explore section end */
 /* ready section start  */
 .ready{
    background-color:rgb(0, 174, 255) ;
    color:#ffffff;
 }
 /* ready section end */
 /* students section start */
 .pepole_box_title{
    width: 40%;
    padding: 10px 0;
 }
.pepole_container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-gap: 15px;
}
 /* students section end */