.image{
    filter: brightness(50%);
}
.content{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.content h1{
    font-weight: 700;
    font-size: 45px;
}
.content p{
    font-weight:400;
    font-size: 18px;
    line-height:28px;
}

.slider_inner{
    height: 100vh;
}
.slider_image{
    filter: brightness(50%);
}



/* course section start */

.card_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}



/* course section end */
/* explore section start */
.course_related{
    display:grid;
    grid-gap: 5px;
    grid-template-columns:1fr 1fr 1fr ;

}
.explore_body{
    background-color: #f4fafd;
    height: 500px;

}
.explore_area{
    height: 500px;
}
/* explore section end */
 /* ready section start  */
 .ready{
    background-color:rgb(0, 174, 255) ;
    color:#ffffff;
 }
 /* ready section end */
 /* students section start */
 .pepole_box_title{
    width: 40%;
    padding: 10px 0;
 }
.pepole_container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-gap: 15px;
}
 /* students section end */
 /* feedback section start */
 .feedback_box_title{
    width: 40%;
    padding: 20px 0;
 }
 
 .review_card_container{
    display: grid;
    grid-template-columns: 0.04fr 4fr 0.04fr;
    /* grid-gap: 20px; */
    align-items: center;
    position: relative;

 }
 .review_card_box{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 20px;

 }
 .arrow{
    background-color: #E5F6FF;
    color: #289bde;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 24px;
 }
 .arrow_right{
    z-index: 1;
    margin-left: -20px;
 }
 .arrow_left{
    z-index: 1;
    margin-right: -20px;
 }
 .review_star i{
    color: orange;
 }
 .card_author{
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    /* grid-gap: 10px; */
 }
 .card_info{
    padding: 0 10px;
 }
 /* feedback section end */
 